* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(157, 149, 168);
}

.title {
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(142, 116, 184);
    width: 80%;
    height: 100px;
    padding: 30px;
    margin: 0 auto;
    display: block;
}

.group {
    background-color: rgb(183, 173, 201);
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.button {
    box-sizing: border-box;
    background-color: rgb(148, 136, 170);
    text-align: center;
    width: 200px;
    height: 150px;
    margin: 8px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(131, 119, 153);;
}

.img {
    border: 3px solid rgb(131, 119, 153);;
    margin-bottom: 10px;
    width: 150px;
    height: auto;
}

#img {
    border: 3px solid rgb(131, 119, 153);;
    width: 150px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.text {
    text-align: left;
    padding-left: 2%
}

.subtitle h3{
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(142, 116, 184);
    width: 100%;
    height: 50px;
    padding: 10px;
}
